.button{
    padding: 2% 3%;
    outline: none;
    border: none;
    color: antiquewhite;
    background-color: black;
    border-radius: 20px;
    min-height: 30px;
    min-width: 70px;
    cursor: pointer;


}

/*The button for close LoginForm*/

.button__x{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    width: 1em;
    height: 1em;
    background-color: red;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
/*.button__x:before{*/
/*    content: '';*/
/*    */

/*}*/

