*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li{
  outline: none;
  text-decoration: none;
  list-style: none;
}

a{
  text-decoration: none;
  outline: none;
}

body {
  /*position: relative;*/
  /*width: 100%;*/
  /*height: 100vh;*/
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/components/Img/Shadow.png");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
