.templates {
  padding: 8px;

  &__title {
    font-size: 120%;
    margin-bottom: 15px;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 15%;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    /*display: inline-block;*/
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1000px){
        width: 30%;
      }
    @media screen and (max-width: 768px){
      width: 46%;
    }

    @media screen and (max-width: 480px){
      width: 100%;
    }


      &-title {
      margin-bottom: 5px;
    }

    &-info {
      margin-bottom: 5px;
    }

    &-price {
      margin-bottom: 5px;
    }
  }

  &__pic {
    width: 100%;
    margin-bottom: 5px;
  }
}



