
.startPage__wrapper{
    display: flex;
    justify-content: space-between;
}

.startPage__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    position: relative;
    z-index: 2;
   }

.startPage__text:before{
    content: '';
    position: absolute;
    background-color: #FE351F;
    filter: blur(200px);
    width: 50%;
    height: 50%;
    top: 0;
    right: 0;
    border-radius: 50%;
    z-index: 1;
}

.startPage__title{
    font-size: 400%;
    margin-bottom: 25px;
}

.startPage__subtitle {
    font-size: 150%;
    margin-bottom: 25px;
}

.startPage__visual{
    display: flex;
    justify-content: space-around;
    width: 75%;
    height: 100%;
}

.startPage__pic{
    width: 80%;
    height: 100%;
}

.startPage__form{
    display: flex;
    justify-content: center;
    width: 90%;
}

.startPage__label{
    display: flex;
    justify-content: space-between;
    border: 2px solid #FE351F;
    border-radius: 15px;
    width: 90%;
    padding: 2% 4%;
}

.startPage__input{
    border: none;
    /*padding: 2% 4%;*/
    width: 50%;
    outline: none;
    font-size: 100%;
}

.startPage__button{
    border-radius: 15px;
    background-color: #FE351F;
    color: white;
    padding: 6% 6%;
}