.swiper{
    width: 600px;
    height: 300px;
}
.slider{
    display: flex;
    min-width: 0;

}
.slider{
    width: 150px;
    height: 150px;
    /*padding: 2%;*/
    border: 2px solid #E01F3D;
    border-radius: 15px;
}

.slider__item{
    width: 150px;
    height: 150px;
    /*padding: 2%;*/
    border: 2px solid #E01F3D;
    border-radius: 15px;
}

.slider__item-name{
    display: inline;
    margin-right: 6px;
    color: #1B2473;
    font-weight: bold;
}

.slider__item-lastname{
    display: inline;
    color: #1B2473;
    font-weight: bold;
}

.slider__item-text{
    padding-top: 10px;
    color: #1B2473;
    font-weight: bold;
}